// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #000;
$black:					#000;
$white:					#fff;
$turquoise:				#E5F8FA;

//Site Outline Frame
$frame-thickness:		20px;

//Fonts
$bodyfont:			"Avenir Next W04", sans-serif;
$metafont:			"Avenir Next Rounded W01", sans-serif;